apiVersion: v1
kind: ConfigMap
metadata:
  name: dhakacart-config
  namespace: dhakacart
data:
  # Backend configuration
  NODE_ENV: "production"
  PORT: "5000"
  DB_HOST: "dhakacart-db-service"
  DB_PORT: "5432"
  DB_NAME: "dhakacart_db"
  REDIS_HOST: "dhakacart-redis-service"
  REDIS_PORT: "6379"
  
  # Frontend configuration
  REACT_APP_API_URL: "http://api.dhakacart.com/api"
